@model IEnumerable<toanggg.Data.Class>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashBoardTrainer";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                <div>
                    <h4 class="mb-3">Danh sách lớp học</h4>
                    <p class="mb-0">
                        Cung cấp thông tin chi tiết về mỗi lớp học như tên, giờ bắt đầu, giờ kết thúc, v.v.. Giúp người dùng hiểu rõ về các lớp học.
                    </p>
                </div>
                <a asp-area="" asp-controller="Classes" asp-action="Create" class="btn btn-primary add-list">
                    <i class="las la-plus mr-3"></i>Đăng ký lớp học
                </a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive rounded mb-3">
                <table class=" table mb-0 tbl-server-info dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                    <thead class="bg-white text-uppercase">
                        <tr class="ligth ligth-data" role="row">
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 11.8048%;">@Html.DisplayNameFor(model => model.Name)</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="StartTime: activate to sort column ascending">@Html.DisplayNameFor(model => model.StartTime)</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="EndTime: activate to sort column ascending">@Html.DisplayNameFor(model => model.EndTime)</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Html.DisplayNameFor(model => model.Status)</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ClassType: activate to sort column ascending">@Html.DisplayNameFor(model => model.ClassType)</th>
                            @*  <th>
                            @Html.DisplayNameFor(model => model.Gym)
                            </th> *@
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Hành động: activate to sort column ascending">Hành động</th>
                        </tr>
                    </thead>
                    <tbody class="ligth-body">
                        @foreach (var item in Model)
                        {
                            <tr class="odd">
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                <td>@Html.DisplayFor(modelItem => item.ClassType)</td>
                                @*  <td>
                            @Html.DisplayFor(modelItem => item.Gym.GymId)
                            </td> *@

                                <td>
                                    <div class="d-flex align-items-center list-action">
                                        <a class="badge bg-success mr-2" data-toggle="tooltip" data-placement="top" title="Edit"
                                           asp-controller="Classes" asp-action="Edit" asp-route-id="@item.ClassId">
                                            <i class="ri-pencil-line mr-0"></i>
                                        </a>

                                        <a class="badge bg-warning mr-2" data-toggle="tooltip" data-placement="top" title="Delete"
                                           asp-controller="Classes" asp-action="Delete" asp-route-id="@item.ClassId">
                                            <i class="ri-delete-bin-line mr-0"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Page end  -->
</div>